
body,
html {
  height      : 100%;
  margin      : 0;
  font-family : 'Roboto Condensed',
                sans-serif;
}

body {
  display          : flex;
  background-color : rgba(0, 0, 0, 0.42);
  justify-content  : center;
}

li,
p {
  margin    : 0;
  font-size : 13px;
}

span {
  color       : black;
  font-size   : 16px;
  font-weight : bold;
}

a {
  text-decoration : none;
  font-size       : 14px;
}

.resume {
  max-width : 850px;
  min-width: 375px;
  margin    : 28px 8%;
  height: 172%;
}

.content-wrapper {
  background-color : whitesmoke;
}

article {
  margin-bottom : 8px;
}

.header {
  display          : flex;
  padding          : 6px 25px;
  border-bottom    : 4px #97ce8a solid;
  background-color : #97ce8a;
  font-family      : 'Oswald',
                     sans-serif;
  justify-content  : space-between;
}

.github {
  color : #f5f5f5;
}

.logo-div * {
  margin    : 0;
  font-size : 31px;
}

.contact-div {
  display         : flex;
  align-items     : flex-start;
  flex-direction  : column;
  justify-content : center;
}

.contact-div * {
  margin    : 0;
  color     : #f5f5f5;
  font-size : 14px;
}

.name {
  color : #222;
}

.job-title {
  margin-bottom : 20px;
  padding-left  : 13px;
  color         : whitesmoke;
  line-height   : 15px;
}

.date{
  min-width: 89.42px;
}

.section {
  display       : flex;
  margin        : 0 25px;
  padding-top   : 10px;
  color         : #737373;
  border-bottom : 2px #e8e8e8 solid;
}

.title {
  width  : 58px;
  margin : 0;
  color  : #97ce8a;
}

.content {
  margin    : 2px 5px 16px 46px;
  flex-grow : 1;
}

.job-title-date {
  display         : flex;
  justify-content : space-between;
}

.description {
  padding-left : 12px;
}

.responsibilities {
  margin  : 0px;
  padding : 0 69px 0 24px;
}

/* ************* MEDIA QUERIES *************** */

@media (max-width: 675px) {
  .header {
    align-items    : center;
    flex-direction : column;
  }

  .contact-div * {
    margin : 0 4px;
  }

  .logo-div {
    display         : flex;
    align-items     : center;
    flex-direction  : column;
    justify-content : center;
  }

  .name {
    font-size : 40px;
  }

  .job-title {
    margin-bottom : 18px;
    padding       : 0;
    font-size     : 23px;
  }

  .section {
    flex-direction : column;
  }

  .content {
    width  : 90%;
    margin : auto;
  }
}
